@import url('<link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap" rel="stylesheet">');
@import "tailwindcss";

/* Custom font class for Tailwind v4 */
.font-orbitron {
  font-family: "Orbitron", sans-serif;
}
